.modal {
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    border: none;
    min-width: 480px;
    z-index: 6;

    &__backdrop {
        display: block;
        content: "";
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        background-color: #25252525;
        z-index: -1;
        backdrop-filter: blur(1px);
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: white;

        h4 {
            margin-right: auto;
            padding: 14px 15px;
        }

        &--close {
            margin-left: auto;
        }
    }

    &__body {
        padding: 14px 15px 28px;
        background-color: white;

        &--loading {
            .cds--loading-overlay {
                backdrop-filter: blur(1px);
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        background-color: white;

        .cds--btn {
            dislay: flex;
            flex-grow: 1;
            padding: 14px 63px 14px 15px;
        }
    }
}
