body {
    height: 100vh;
}

dialog::backdrop {
  background: darkorange;
}

#root {
    height: 100%;
    dipslay: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
