

.modal {
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    border: none;
    min-width: 360px;
    z-index: 3;

    &__backdrop {
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #25252525;
        z-index: 2;

        &.visible {
            display: unset;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        &--close {
            margin-left: auto;
        }
    }
}
