.etlm-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
        font-size: 120px;
        font-weight: 900;
    }

    &__link {
        margin-top: 48px;
    }
}
